/* To work properly you need to include Roboto in your html, as well as body, a and .gen_sub_block in your stylesheet*/



.gen_virtual_container{
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

#nav_container{
	/*margin: 0px 60px 0px 60px;*/
	margin-left: 3%;
  	margin-right: 5%;
  	height: 64px;
}

.nav_background{
	background-color: rgba(255,255,255,0.7);
}

#nav_bar{
	position: fixed;
	z-index:11;
}

.nav_hover{
	background-color: rgba(255,255,255,0.85);
}

#logo_nav{
	height: 36px;
	width: auto;
	/*margin-top: 15px;
	margin-left: 30px;*/
}


.menu_spacer {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.links{
    color:#2775D1;
	font-family:'Roboto';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 68px;
    background-color: transparent;
    border-bottom: 4px solid transparent;
    padding: 0 24px;
    margin: 0;
    height: 60px;


/*	width: 125px;
	height: 32px;
	line-height: 31px;
	display: inline-block;
	font-family:'Roboto';
	font-weight: 300;
	font-size: 12pt;
	border: 1px solid #2775D1;
	border-radius: 1px;
	text-align: center;
*/
}

.links:hover{
    border-bottom: 4px solid #2775D1;
}

.links_on{
    border-bottom: 4px solid #2775D1;
}

#more_vert{
	border: 1px solid transparent;
    border-radius: 50%;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    width: 32px;
    padding: 0;
    overflow: hidden;
    background: transparent;
    color: #2775D1;
    vertical-align: middle;
    position: relative;
    display: block;
}

#more_vert:hover{
    background-color: rgba(158, 158, 158, .3);
}

/* ********************************* SUBMENU START ******************************* */

.subj_item{
    color: #000000;
    font-family:'Roboto';
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    line-height: 50px;
    height: 50px;
    width: 150px;
    padding-left: 20px;
    vertical-align: middle;
    text-align: left;
}

.subj_item:hover{
	background-color: rgba(158, 158, 158, .4);
}

.subj_item_on{
	background-color: rgba(158, 158, 158, .5);
}


#subj_menu{
	position: absolute;
	border-radius: 1px;
	top: 32px;
	right: 0;
	background-color: rgba(255,255,255,0.9);
	float: right;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#drop_down_container{
	position: relative;
}







