body {
  overflow-x: hidden;
  /*font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Lato", sans-serif;
  padding-top: 120px;
  /*background-color: #eeeeee;*/
}
.text-muted {
  color: #777777;
}
.text-primary {
  /*color: #fed136;*/
  color: #0073CF;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  /*color: #fed136;*/
  color: #0073CF;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
a:hover,
a:focus,
a:active,
a.active {
  /*color: #fec503;*/
  color: #0073CF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.lead {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.section-heading{
  font-size: 36px;
  margin-top: 60px;
  text-align: center;
}

.featurette-image{
  height: 90%;
  width: 90%;
}

.profile_pic{
  height: 70%;
  width: 70%;
}

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
  border-top-color: #dddddd;
}

.twitter-vid{
  margin: auto;
  text-align: center;
  border-width: 5px;
  border-color: red;
  border-style: solid;
}

.featurette-heading-center {
  text-align: center;
}

.work-title {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #777777;
}

/* 
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
*/

/* ====================== CONTACT ====================== */

ul.social-buttons li a {
  display: block;
  color: #222222;
  /*margin-top: 10px;*/
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  /*color: #fed136;*/
  color: #0073CF;
  text-decoration: none;
}

.contact_icon{
  margin-right: 20px; 
  vertical-align: middle;
}


/* ====================== PUBLICATIONS ====================== */

.publication{
  margin-bottom: 40px;
}

.pub-heading{
  margin-bottom: 40px;
  text-transform: none !important;
}

.pub-authors{
  color: #808080;  
}

/* ====================== PORTFOLIO ====================== */

.portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
.portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
.portfolio-item .portfolio-link .portfolio-hover {
  /*background: rgba(254, 209, 54, 0.9);*/
  background: rgba(0, 115, 207, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
.portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  /*background-color: white;*/
  background-color: #eeeeee;
  text-align: center;
  padding: 25px;
}
.portfolio-item .portfolio-caption h4 {
  font-weight: bold;
  text-transform: none;
  margin: 0;
}
.portfolio-item .portfolio-caption p {
  /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
* {
  z-index: 2;
}
@media (min-width: 767px) {
  .portfolio-item {
    margin: 0 0 30px;
  }
}

