ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  color: #222222;
  margin-top: 30px; 
/*  height: 40px;
  border-radius: 100%;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
*/
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  color: #fed136;
  text-decoration: none;
/*
background-color: #fed136;
*/
}

.contact_icon{
  margin-right: 20px; 
  vertical-align: middle;
}

.contact_text{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
