/*a{
	text-decoration: none;
}


#footer{
	background-color: #1A1A1A;
	opacity: 1;
	width: 100%;
	height: 150px;
	position: relative;
	padding-top: 70px;
    margin-top: 100px;
}

#footer_container{
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
}

.vertical_container{
	vertical-align: top;
	position: relative;
}

.column_title{
	color: white;
	font-family: 'Roboto';
    font-size: 15px;
	font-weight: 300;
    text-transform: uppercase;
    line-height: 15px;
    text-align: left;
    margin-bottom: 15px;
    width: 200px;
}

.contributor_name{
	color: #858585;
	font-family: 'Roboto';
    font-size: 13px;
	font-weight: 300;
    text-transform: uppercase;
    line-height: 13px;
    text-align: left;
    list-style-type: none;
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
}

.contributor_name:hover{
    color: #FFFFFF;
}

#logo_footer{
	height: 52px;
	width: auto;
	/*margin-top: 15px;
	margin-left: 30px;*
}


.google_icon{
	border: 1px solid #858585;
    border-radius: 50%;
    width: 24px;
    height: auto;
    /*margin-left: 6px;
    margin-right: 6px;*
    padding: 6px;
    overflow: hidden;
    background: transparent;
    color: #858585;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.google_icon:hover{
	cursor: pointer;
    border: 1px solid #FFFFFF;
}
*/