#scholarships_title_container{
	margin-top: 120px;
}

h2{
	color: #858585;
}

.about_paragraph_title{
	font-size: 17pt;
	font-weight: 400;
}

h4{
	color: #FFFFFF;
	font-family: "Roboto";
	font-size: 18pt;
	font-weight: 300;
	text-align: left;
	top: 130px;
	position: absolute;
	margin-left: 5%;
	z-index: 3;
	padding-bottom: 5%;
	margin-bottom: 5%;
	bottom: 5%;
}



